_CommonRedist
bin
D2ModKit
dota
EmptySteamDepot
platform
gcfscape185.exe
steam_appid.txt

/content/*
!content/dota_addons
/content/dota_addons/*
!content/dota_addons/berrytd

/game/*
!game/dota_addons
/game/dota_addons/*
!game/dota_addons/berrytd

*tools_thumbnail_cache*

