_CommonRedist
bin
D2ModKit*
dota
EmptySteamDepot
platform
gcfscape185.exe
steam_appid.txt
.gitignore
*Thumbs.db

/content/*
!content/dota_addons
/content/dota_addons/*
!content/dota_addons/berrytd
/content/dota_addons/berrytd/tooltips_english.txt

content/dota_addons/berrytd/maps/mapidea.vmap
/game/*
!game/dota_addons
/game/dota_addons/*
!game/dota_addons/berrytd

*tools_thumbnail_cache*

*tools_asset_info.bin

/game/dota_addons/berrytd/panorama/*
/game/dota_addons/berrytd/materials/*
/game/dota_addons/berrytd/particles/frostivus*
/game/dota_addons/berrytd/particles/test*

*.vpk
berrytd.sublime*